/application/config/development
/application/logs/log-*.php
/application/logs/!index.html
/application/cache/*
/application/cache/!index.html
/images/photoweb/*
!/images/photoweb/.keep
.htaccess
.htaccess-dev
.htaccess-preprod
.htaccess-prod
.htpassword

